body{
    background-color: turquoise;
}
 h3{
     text-align: center;
 }
 
.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}

#book-form{
    background-color: rgb(98, 197, 236);
}

#book-form input{
    background-color:skyblue;
}

#book-form input:hover{
    background-color: rgb(195, 223, 235);
}

#book-form #ok{
    color: white;
    background-color: rgb(51, 51, 124);
}

#book-form #ok:hover{
    color: black;
    background-color: rgb(85, 85, 117);
}

#book-list{
    color: black;
    background-color: rgb(155, 184, 169);
}

#table{
    color: white;
    background-color: rgb(37, 133, 85);
}